<!DOCTYPE html>
<html>
  <head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One:300,400,500,600,700|Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/build/css/style.min.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<title>The Varsity | Login</title>
  </head>


  <body>
  	<div class="container">
  		<div class="row">
	  		<div class="col-md-4 col-md-offset-2">
		  		<h2>Login</h2>
		  		<form action="/account/login" method="post">
		  			<input type="text" style="margin-bottom:6px" name="email" placeholder="Email" /><br />
		  			<input type="password" style="margin-bottom:6px" name="password" placeholder="Password" /><br />
		  			<input type="submit" style="margin-bottom:6px" value="Log In" /><br />
		  		</form>
	  		</div>

	  		<div class="col-md-4">
		  		<h2>Register</h2>
		  		<form action="/account/register" method="post">
		  		</form>
	  		</div>

  		</div>

  	</div>  	


  </body>

</html>
