<!DOCTYPE html>
<html>
  <head>

	<title>The Varsity | {{ tags.title }}</title>
  </head>


  <body>
  	<div id="root">{{{ react }}}</div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAYA1eCg1ToFOxVfVxqZHzqNnNJFgnLNYw"></script>
 
	<script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
	<script type="text/javascript" src="/build/vendor.min.js"></script>
	<script type="text/javascript" src="/build/bundle.js"></script>
  </body>

</html>
