<!DOCTYPE html>
<html>
  <head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/build/css/style.min.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<title>The Varsity | {{ tags.title }}</title>
  </head>


  <body>
  	<div id="root">{{{ react }}}</div>


    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAYA1eCg1ToFOxVfVxqZHzqNnNJFgnLNYw"></script>

	<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
	<script>
	  var config = {
	    apiKey: "AIzaSyAdKSGhUOw1_-PNq9n9vXDkk_nuXj0lZzE",
	    authDomain: "thevarsity-6abb7.firebaseapp.com",
	    databaseURL: "https://thevarsity-6abb7.firebaseio.com",
	    storageBucket: "thevarsity-6abb7.appspot.com",
	    messagingSenderId: "566744350980"
	  };
	  firebase.initializeApp(config);
	</script>    
	<script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
	<script type="text/javascript" src="/build/vendor.min.js"></script>
	<script type="text/javascript" src="/build/bundle.js"></script>
  </body>

</html>
