<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="theme-color" content="#2196f3">
	<title>The Varsity</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Oswald:400,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/build/mobile/css/style.min.css">
</head>


<body class="theme-pink">	    
	<div id="root">{{{ react }}}</div>


	<script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
	<script type="text/javascript" src="/build/mobile/vendor.min.js"></script>
	<script type="text/javascript" src="/build/bundle.js"></script>
</body>
</html>