<!DOCTYPE html>
<html>
  <head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="The Varsity" />

    <meta property="og:title" content="{{ tags.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ tags.url }}" />
    <meta property="og:image" content="{{ tags.image }}" />
    <meta property="og:description" content="{{ tags.description }}" />
	
	<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One:300,400,500,600,700|Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/build/css/style.min.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<title>The Varsity | {{ tags.title }}</title>
  </head>


  <body>
  	<div id="root">{{{ react }}}</div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAYA1eCg1ToFOxVfVxqZHzqNnNJFgnLNYw"></script>
 
	<script type="text/javascript">window.__PRELOADED_STATE__ = {{{preloadedState}}}</script>
	<script type="text/javascript" src="/build/vendor.min.js"></script>
	<script type="text/javascript" src="/build/bundle.js"></script>
  </body>

</html>
